[project]
	description = Android Platform Manifest
	state = active
[receive]
	requireContributorAgreement = true
[submit]
	action = fast forward only
[access "refs/*"]
	forgeAuthor = group Admin-JBQ
	forgeCommitter = group Admin-JBQ
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Administrators
	label-Verified = -1..+1 group Administrators
