[project]
	description = Android Platform Manifest
[receive]
	requireContributorAgreement = true
[submit]
	action = fast forward only
[access "refs/*"]
	forgeAuthor = group AOSP
	forgeCommitter = group AOSP
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Administrators
	label-Verified = -1..+1 group Administrators
	submit = group Administrators
	exclusiveGroupPermissions = label-Code-Review label-Verified submit
	create = group AOSP
	push = group AOSP
[access "refs/for/refs/heads/*"]
	exclusiveGroupPermissions = push pushMerge
	push = group Administrators
	pushMerge = group Administrators
[access]
	inheritFrom = Public-Projects
[access "refs/meta/config"]
	label-Code-Review = -2..+2 group AOSP
	label-Verified = -1..+1 group AOSP
	create = group AOSP
	push = group AOSP
